[
  {
    "ParameterKey": "AppName",
    "ParameterValue": "{{ page.app_name }}"
  },
  {
    "ParameterKey": "FrontTierAMI",
    "ParameterValue": "{{ page.front_tier_ami }}"
  },
  {
    "ParameterKey": "FrontTierInstanceKey",
    "ParameterValue": "{{ page.front_tier_instance_key }}"
  },
  {
    "ParameterKey": "AppVPC",
    "ParameterValue": "{{ page.app_vpc }}"
  },
  {
    "ParameterKey": "PublicSubnet1",
    "ParameterValue": "{{ page.public_subnet_1 }}"
  },
  {
    "ParameterKey": "PublicSubnet2",
    "ParameterValue": "{{ page.public_subnet_2 }}"
  }
]
